header {
    color: rgb(255, 255, 255);
    background-color: rgb(148, 18, 61);
    text-align: center;
   font-size: 30px;
   padding: 20px;
   border: none;
  
}

nav a{
    display:inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
   
}
nav {
    
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: sticky;
    top: 0;
    border: none;
    
}
nav a:hover{
color: brown;
}
p{
    color: black;
font-size: 25px;
font-weight: 80;

}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(165, 181, 194);
    margin-top: 0%;
}
.container{
    background-color: lightgray;
    padding: 5px 20px 15px 20px ;
    border: 1px solid black;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin: 6px;
}
fieldset{
    background-color: rgb(122, 194, 194);
    border:  1px solid rgb(145, 56, 56) ;
}
.main_heading{
   text-align: center; 
}
input[type="submit"]{
    background-color: rgb(79, 189, 223);
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: brown;
}
button{
    text-align: center;
    background-color: brown;
}
